@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");
* {
    box-sizing: border-box;
  }

                                                 /* VARIABLES */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */
    :root{
        --c1:#426DA9;
        --c2:#CDDAE2;
        --c3:#213653;
        --cl:white;
        --cb:black;
        }
        
                                             /* ESTILOS GENERALES */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */
        
        body {
            margin: 0 auto;
            min-height: 100vh;
            padding:0;
            font-family: sans-serif;
            background-color: var(--c2);
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        h1{
            text-align: center;
        }
        main{
            margin: 0 auto;
            display:grid;
            justify-content: center;
            align-items: center;
            align-content:center;
            padding:20px;
        }
        
        
                                                     /* ESTILOS DEL INDEX */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */
        .fotoportada{
            max-width: 100%;
            object-fit: cover;
        }
        
        .menudesplegable{
            display:flex;
            flex-direction:column;
            gap:10px;
            position:fixed;
            left:30px;
            top:50%;
            z-index: 999;
        }
        .menudesplegable a{
            background:rgba(0, 32, 80, 0.7);
            width:40px;
            height:40px;
            border-radius:50%;
            text-decoration:none;
            font-weight:bold;
            color:white;
            overflow:hidden;
            text-indent:-300px;
            border:1px solid white;
            transition:1s;
        
            
            display:flex;
            align-items:center;
            align-content:center;
            justify-content:center;
        }
        .menudesplegable a:hover{
            width:200px;
            border-radius:10px;
            text-indent:0px;
        }
        #nosotros{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap:20px;
            
            font-weight: bold;
        }
        #nosotros h2{
            text-align: center;
            color:var(--c3);
            margin-bottom:5px;
            text-shadow:1px 1px 1px var(--cl);
        }
        #nosotros h3{
            color:var(--c1);
            text-shadow:1px 1px 1px var(--cl);
        }
        
        #nosotros img{
            max-width:100%;
            border-radius:10px;
        }
        
        .nosotros2,.nosotros3{
            display:flex;
            width: 75%;
            border:1px solid var(--cl);
            padding:20px;
            border-radius:40px;
        
        }
        .nosotros2 div,.nosotros3 div{
            margin:10px;
            padding:5px;
        }
        .nosotros2 img,.nosotros3 img{
            width:20%;
        }
        .nosotros2 h3,.nosotros3 h3{
            text-align: left;
            font-size: 25px;
            margin-top:0px;
        }
        .nosotros3 h3{
            text-align:right;
        }
        
        .nosotros2 p,.nosotros3 p{
            text-align: justify;
            font-weight: lighter;
            font-size: 20px;
        }
        
        #nosotros h4{
            color:var(--c3);
            font-weight: bold;
            font-size: 30px;
            padding:0px;
            margin:0px;
            margin-top:5px;
        }
        
                                                     /* CAROUSEL */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */
        div#carousel {
            perspective: 1200px;
            padding-top:20px;
            font-size:0;
            margin-bottom: 10px;
            overflow: hidden;
    
          }
        figure#spinner { 
            transform-style: preserve-3d; 
            height: 420px; 
            transform-origin: 50% 50% -500px; 
            transition: 1s; 
    
          } 
        figure#spinner img { 
            width: 50%; max-width:300px; 
            position: absolute;
            left:30%;
            transform-origin: 50% 50% -500px;
            outline:1px solid transparent; 
          }
    
    
        figure#spinner img:nth-child(1) { transform:rotateY(0deg); }
        figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
        figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
        figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
        figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
        figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
        figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
        figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }
        
        .carouselbtn button{ 
            color: #fff; 
            margin: 5%; 
            display: inline-block; 
            text-decoration: none; 
            font-size: 2rem; 
            transition: 0.6s color; 
            position: relative; 
            margin-top: -2rem;
            background:var(--c3);
            border:1px solid white;
             
             
        }
        .carouselbtn button:hover{ color: #888; cursor: pointer; }
        .carouselbtn{
          display:flex;
          justify-content:space-around;
        }
    
        #carouseltitulo{
            text-align: center;
            margin-top:100px;
            color:var(--c3);
        }
                                                     /* ESTILOS DEL HEADER */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */
        .header {
            background-color: var(--c1);
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
        header .saludo{
            text-align:center;
            margin-left:30px;
            color:var(--cl);
            border-top: 1px solid var(--c2);
            border-bottom: 1px solid var(--c2);
            padding:0px 30px;


            display:flex;
            gap: 20px;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .logo {
            display: flex;
            align-items: center;
        }
        
        .logo img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        
        .logo h1 {
            font-size: 24px;
            font-weight: bold;
            color: var(--cl);
            margin: 0;
        }
        
        .navigation ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }
        
        .navigation ul li {
            margin-right: 20px;
        }
        
        .navigation ul li a {
            color: #fff;
            text-decoration: none;
            position: relative;
            transition: color 0.3s;
        }
        
        .navigation ul li a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-color: #fff;
            visibility: hidden;
            transform: scaleX(0);
            transition: all 0.3s ease-in-out;
        }
        
        .navigation ul li a:hover:before {
            visibility: visible;
            transform: scaleX(1);
        }
                                                     /* ESTILOS DEL FOOTER */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */

        .footer {
            background-color: #426DA9;
            color: #fff;
            padding:10px;
        }
        
        .footer-content {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            gap:10px;
            margin-left:30px;
        }
        
        .footer-logo {
            display: flex;
            align-items: center;
        }
        
        .logofooter{
            width:150px;
            height:150px;
        }
        
        .footer-logo h2 {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }
        
        .footer-social .social-icon {
            color: white;
            font-size: 20px;
            margin:5px;
            transition: color 0.3s;
        }
        
        .footer-social .social-icon:hover {
            color: #ffd700;
        }
        
        .footer-bottom {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;
            align-content: center;
        }
        
        .footer-links {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        .footer-links li {
            display: inline-block;
            margin:30px;
        }
        
        .footer-links li a {
            color: var(--cl);
            text-decoration: none;
        }
        
        .footer-links li a:hover {
            text-decoration: underline;
        }
        
        .containerfooter{
            display:flex;
            justify-content:space-around;
        }

                                                 /* ESTILOS DEL LISTADO (TABLAS) */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */
    
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            color:var(--c3);
            font-weight: bold;
          }
        table a{
            color:var(--c3);
            text-decoration:underline;
        }
        
          td, th {
            border: 1px solid var(--c3);
            text-align: left;
            padding: 8px;
          }
          
          tr:nth-child(even),tr:nth-child(even) a{
            background-color: var(--c1);
            color:white;
          }
    
          .trhead{
            background-color: var(--c3);
            color:var(--c2);
            text-align: center;
          }

                                                 /* ESTILOS DE FORMULARIO */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */
    
    button {
      overflow: visible;
    }
    
    button, select{
      text-transform: none;
    }
    
    button, input, select, textarea {
      color: #213653;
      font: inherit;
      margin: 0;
    }
    
    input {
      line-height: normal;
    }
    
    textarea {
      overflow: auto;
    }
    
    #contacto {
      border: solid 3px var(--cl);
      max-width: 768px;
      margin: 40px auto;
      padding:5px;
      position: relative;
    }
    
    form {
      padding: 20px;
      margin: 30px 0 0 0;
    }
    
    #contacto h1 {
      color: var(--c3);
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 7px;
      text-align: center;
      text-transform: uppercase;
    }
    
    .underline {
      border-bottom: solid 2px var(--cl);
      margin: -0.512em auto;
      width: 80px;
    }
    
    .icon_wrapper {
      margin: 50px auto 0;
      width: 100%;
    }
    
    .telephone {
        float: right;
        width: 45%;
    }
    
    input[type='text'], [type='email'],[type='number'],[type='password'], select, textarea {
        background: none;
        border: none;
        border-bottom: solid 2px var(--cl);
        color: var(--cb);
        font-size: 1.000em;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0em 0 1.875em 0;
        padding: 0 0 0.875em 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    input[type='text']:focus, [type='email']:focus, [type='number']:focus , [type='password']:focus , textarea:focus{
        outline: none;
        padding: 0 0 0.875em 0;
    }
    
    .message {
        float: none;
    }
    
    .name {
        float: left;
        width: 45%;
    }
    
    textarea {
        line-height: 150%;
        height: 150px;
        resize: none;
        width: 100%;
    }
    
    ::-webkit-input-placeholder {
        color: var(--c3);
        font-size: 10px;
    }
    
    :-moz-placeholder { 
        color: var(--c3);
        opacity: 1;
    }
    
    ::-moz-placeholder {
        color: var(--c3);
        opacity: 1;
    }
    
    :-ms-input-placeholder {
        color: var(--c3);
    }
    
    #form_button {
      background: none;
      border: solid 2px var(--c3);
      color: var(--c3);
      cursor: pointer;
      display: inline-block;
      font-family: sans-serif;
      font-size: 0.875em;
      font-weight: bold;
      outline: none;
      padding: 20px 35px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    #form_button:hover {
      background: var(--c3);
      color: var(--cl);
    }
    
    .submit{
        display:flex;
    
        justify-content: center;
    
    }

    .iniciarsesion{
        display:flex;
        gap:20px;
        color:var(--c3);
    }

    label{
      color:var(--c3);

    }


                                         /* ESTILOS DE LAS FICHAS */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */









    .card {
        max-width: 340px;
        margin: auto;
        overflow-y: auto;
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        background-color: white;
        display: flex;
        transition: 0.3s;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
      }
      
      .card-main {
        padding-top: 0;
      }
      
      .card.is-active .card-header {
        height: 80px;
      }
      .card.is-active .card-cover {
        height: 100px;
        top: -50px;
      }
      .card.is-active .card-avatar {
        transform: none;
        left: 20px;
        width: 50px;
        height: 50px;
        bottom: 10px;
      }
      .card.is-active .card-fullname,
      .card.is-active .card-jobtitle {
        left: 86px;
        transform: none;
      }
      .card.is-active .card-fullname {
        bottom: 18px;
        font-size: 19px;
      }
      .card.is-active .card-jobtitle {
        bottom: 16px;
        letter-spacing: 1px;
        font-size: 10px;
      }
      
      .card-header {
        position: relative;
        display: flex;
        height: 200px;
        flex-shrink: 0;
        width: 100%;
        transition: 0.3s;
      }
      .card-header * {
        transition: 0.3s;
      }
      
      .card-cover {
        width: 100%;
        height: 100%;
        position: absolute;
        height: 160px;
        top: -20%;
        left: 0;
        will-change: top;
        background-size: cover;
        background-position: center;
        filter: blur(30px);
        transform: scale(1.2);
        transition: 0.5s;
      }
      
      .card-avatar {
        width: 100px;
        height: 100px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        -o-object-position: center;
           object-position: center;
        -o-object-fit: cover;
           object-fit: cover;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-64px);
      }
      
      .card-fullname {
        position: absolute;
        bottom: 0;
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        transform: translateY(-10px) translateX(-50%);
        left: 50%;
      }
      
      .card-jobtitle {
        position: absolute;
        bottom: 0;
        font-size: 11px;
        white-space: nowrap;
        font-weight: 500;
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-7px);
      }
      
      .card-main {
        position: relative;
        display: flex;
        padding-top: 10px;
        flex-direction: column;
      }
      
      .card-subtitle {
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 8px;
      }
      
      .card-content {
        padding: 20px;
      }
      
      .card-desc {
        line-height: 1.6;
        color: #636b6f;
        font-size: 14px;
        margin: 0;
        font-weight: 400;
        font-family: "DM Sans", sans-serif;
      }
      
      .card-buttons {
        display: flex;
        background-color: #fff;
        margin-top: auto;
        position: sticky;
        bottom: 0;
        left: 0;
      }
      .card-buttons button {
        flex: 1 1 auto;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        background: 0;
        font-size: 13px;
        border: 0;
        padding: 15px 5px;
        cursor: pointer;
        color: #5c5c6d;
        transition: 0.3s;
        font-family: "Jost", sans-serif;
        font-weight: 500;
        outline: 0;
        border-bottom: 3px solid transparent;
      }
      .card-buttons button.is-active, .card-buttons button:hover {
        color: #2b2c48;
        border-bottom: 3px solid #8a84ff;
        background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);
      }
      
      .card-section {
        display: none;
      }
      .card-section.is-active {
        display: block;
        -webkit-animation: fadeIn 0.6s both;
                animation: fadeIn 0.6s both;
      }
      
      @-webkit-keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translatey(40px);
        }
        100% {
          opacity: 1;
        }
      }
      
      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translatey(40px);
        }
        100% {
          opacity: 1;
        }
      }
      .card-item-title {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
      }
      
      .card-item-desc {
        font-size: 13px;
        color: #6f6f7b;
        line-height: 1.5;
        font-family: "DM Sans", sans-serif;
      }
      
      .card-contact-wrapper {
        margin-top: 20px;
      }
      
      .card-contact {
        display: flex;
        align-items: center;
        font-size: 13px;
        color: #6f6f7b;
        font-family: "DM Sans", sans-serif;
        line-height: 1.6;
        cursor: pointer;
      }
      
      ul,
      li {
        margin: 0;
        padding: 0;
      }
      
      ul li {
        display: flex;
        gap: 10px;
        align-items: center;
      }







                                         /* ESTILOS DEL INICIO DE SESION */

        /*  ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
            ********************************************************************************************************
        */



      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .screen {		
        background: linear-gradient(90deg, var(--c2), var(--cl));		
        position: relative;	
        height: 450px;
        width: 560px;	
        box-shadow: 0px 0px 24px var(--c3);
      }
      
      .screen__content {
        z-index: 1;
        position: relative;
        height: 100%;
        margin-left:30px;
      }
      
      .screen__background {		
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);	
      }
      
      .screen__background__shape {
        transform: rotate(45deg);
        position: absolute;
      }
      
      .screen__background__shape1 {
        height: 520px;
        width: 520px;
        background: var(--cl);	
        top: -50px;
        right: 120px;	
        border-radius: 0 72px 0 0;
      }
      
      .screen__background__shape2 {
        height: 220px;
        width: 220px;
        background: var(--c1);	
        top: -172px;
        right: 0;	
        border-radius: 32px;
      }
      
      .screen__background__shape3 {
        height: 540px;
        width: 190px;
        background: linear-gradient(270deg, var(--c1), var(--cl));
        top: -24px;
        right: 0;	
        border-radius: 32px;
      }
      
      .screen__background__shape4 {
        height: 400px;
        width: 200px;
        background: var(--c3);	
        top: 420px;
        right: 50px;	
        border-radius: 60px;
      }
      
      .login {
        width: 320px;
        padding: 30px;
        padding-top:0px;
      }
      
      .login__field {
        padding: 20px 0px;
        position: relative;
      }
      
      .login__icon {
        position: absolute;
        top: 30px;
        color: var(--c3);
      }
      
      .login__input {
        border: none!important;
        border-bottom: 2px solid var(--c3)!important;
        background: none!important;
        padding: 10px!important;
        padding-left: 30px!important;
        font-weight: 700!important;
        width: 75%!important;
        transition: .2s!important;
      }
      
      .login__input:active,
      .login__input:focus,
      .login__input:hover {
        outline: none;
        border-bottom-color: var(--c3);
      }
      
      .login__submit {
        background: var(--cl);
        font-size: 14px;
        margin-top: 30px;
        padding: 16px 20px;
        border-radius: 26px;
        border: 1px solid var(--c3);
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        width: 100%;
        color: var(--c3);
        box-shadow: 0px 2px 2px var(--c3);
        cursor: pointer;
        transition: .2s;
      }
      .login__submit:active,
      .login__submit:focus,
      .login__submit:hover {
        border-color: var(--c3);
        outline: none;
        background:var(--c3);
      }
    .login__submit:hover input[type="submit"], .login__submit:hover a, .login__submit:hover i{
        color:white;
      }
      .button__icon {
        font-size: 14px;
        margin-left: auto;
        color: var(--c3);
      }

      .login__submit input[type="submit"]{
        background: none;
        border:none;
        font-size: 16px;
        padding:0;
        margin-left:15px;
        cursor:pointer;
      }
      .login__submit a{
        font-size: 16px;
        text-decoration: none;
        color:var(--c3);
        text-transform: none;
        padding:0;

        margin-left:15px;
      }