
#https://desarrolloweb.com/articulos/mas-ejemplos-reglas-htaccess.html


# Activa Rewirte Engine
RewriteEngine On

# Redireccion a error 404
ErrorDocument 404       http://resiastur.local/error404



# Reescribir la URL solicitada por el usuario

RewriteRule ^inicio/?$          index.php


#RewriteRule ^acceso/?$          login
RewriteRule ^login/?$          sesion/iniciarsesion.php

RewriteRule ^registro/?$       registrar.php

RewriteRule ^error404/?$       404.php

RewriteRule ^listado/?$        listado.php
RewriteRule ^usuarios/?$       listado2.php


RewriteRule ^insertar/?$       insertar.php

RewriteRule ^instalador/?$     --install.php







RewriteRule ^ficha/([a-zA-Z0-9_-]+)$ ver.php?id=$1

RewriteRule ^editar-ficha/([a-zA-Z0-9_-]+)$ editar.php?id=$1
RewriteRule ^editar-usuario/([a-zA-Z0-9_-]+)$ editar2.php?id=$1




 RewriteRule ^actualizar-usuario/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)$ actualizar_datos2.php?id=$1&nombre=$2&password=$3&rol=$4 [QSA]
  RewriteRule ^([0-9a-zA-Z-_]+)$ actualizar_datos2.php?id=$1 [QSA]
