
#https://desarrolloweb.com/articulos/mas-ejemplos-reglas-htaccess.html


# Activa Rewirte Engine
RewriteEngine On
RewriteBase /





# Reescribir la URL solicitada por el usuario

RewriteRule ^inicio/?$          index.php


#RewriteRule ^acceso/?$          login
RewriteRule ^login/?$          sesion/iniciarsesion.php

RewriteRule ^registro/?$       registrar.php

#RewriteRule ^error404/?$       http://resiastur.local/404.php

RewriteRule ^listado/?$        listado.php
RewriteRule ^usuarios/?$       listado2.php


RewriteRule ^insertar/?$       insertar.php

RewriteRule ^instalador/?$     --install.php




# Redireccion a error 404
ErrorDocument 404 http://resiastur.local/error/404.php



RewriteRule ^ficha/([a-zA-Z0-9_-]+)$ ver.php?id=$1

RewriteRule ^editar-ficha/([a-zA-Z0-9_-]+)$ editar.php?id=$1
RewriteRule ^editar-usuario/([a-zA-Z0-9_-]+)$ editar2.php?id=$1





